body {
    background-color: #D5EDFA;
}

h1 {
    font-size: 3em;
    color: #032846;
    text-align: center;
    font-family: serif;
}

h2 {
    margin-left: 10px;
    font-size: 2em;
    color: #032846;
    text-align: left;
}

.grid_ind {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

.mini-explainer {
    text-align: center;

}

video {
    width: 80vw;
    padding: 1em;
    margin-left: 20px;
}

@media screen and (min-width: 920px) {
    video {
        width: 600px;
        margin-left: 0;
    }
}



.lang_video {

    text-align: center;
}

.kort_video {

    text-align: center;
}

@media screen and (max-width: 920px) {
    .lang_video .kort_video {
        width: 600px;
        margin-left: 0;
    }
}

.hjem {
    font-size: 2.5em;
    color: #032846;
    margin: 30px;
}

.hjem:hover {
    font-size: 2.6em;
    color: rgb(1, 19, 34);
}

i {
    color: #032846;
}
